#navbar{
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.644);
}
#subject{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
}
#subject:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.644);
    background-color: rgb(145, 179, 209);
}
#box{
    text-decoration:none;
}
#TitleList{
    color: rgb(249, 251, 255);
    
    font-size: xx-large;
}
#container{
    background-color: rgba(0, 110, 255, 0.61);

}
#TitleSub{
    color: white;
    background-color: rgba(0, 110, 255, 0.61);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    border-radius: 20px;
}
#comment{
    color: white;
    background-color: rgba(0, 110, 255, 0.61);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    border-radius: 20px;
}
#buttonSave{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    color: rgba(0, 110, 255, 0.61);
}
#buttonDelete{
    background-color: #ff1b1be5;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.274);
    color: white;
    
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 60, 203), rgba(0, 110, 255, 0.61));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(17, 60, 203), rgba(0, 110, 255, 0.61))
  }